NEXT_PUBLIC_SUPABASE_URL=https://seowxmqsaworveltidxc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlb3d4bXFzYXdvcnZlbHRpZHhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM5MjgzNDYsImV4cCI6MjA2OTUwNDM0Nn0.x3TwGWKXSDtELubCHa1Ki73A5J-OXVYmZAVl8TsVJTo
